.display {
    background-color: black;
    font-family: DSEG14-Classic;
    border-radius: 1em;
    padding: 1em;
}

.display .top {
    color: gray;
    font-size: 1em;
    font-family: tahoma;
}

.display .request {
    text-align: start;
}

.display .timing {
    float: right;
}

.display .error {
    color: tomato;
}

.display .response {
    color: green;
    font-size: 4em;
    text-align: end;
}
